body {
  margin: 0;
}

.navbar{
  height:70px;
  display:flex;
  padding:20px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.473);
}

.hero{
  margin: auto;
  text-align: center;
  padding: 40px;
}

.imageHero{
  width: 495.91px;
  height: 332px;
  left: 77px;
  top: 96px;
}

.titleHero{
  width: 347px;
  height: 40px;
  left: 36px;
  top: 360px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  padding-left:150px;
}

.paragraphHero{
  width:320px;
  height:56px;
  top:416px;
  left:36px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding-left:150px;
}


/* Card section */
.section{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding:30px 10px 30px 10px;
  margin:auto;
  flex-wrap: nowrap;
  gap: 20px;
  /* background-color: #cc32d1; */

  
}
.cardOne{
  /* background-color: #3254d1; */
  /* width: 300px; */
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
}
/* ADD */
.cardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  /* background-color: #ced132; */

}
/* ADD */
.cardPrice {
  /* margin-top: auto; */
  /* background-color: #32d13f; */

}

.imgOne{
  display:block;
}
h5{
  position: absolute;
  background-color: rgb(255, 255, 255); 
  padding:5px;
  border-radius: 5px;
  margin-left:10px;
}

.txtCardContainer{
  margin:5px;
  display: flex;
  align-items: center;
  /* background-color: #d15c32; */

}

.greyTxt{
  color:#9c9ea5;
  font-weight: 500;
}

/* ############################################ */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
